body{
    background-color: rgb(6, 83, 6);
}
#containerAll {
    background-color: rgb(8, 15, 9);
    display: flex;
    flex-direction: column;
}
#datum{
    background-color: rgb(218, 110, 10);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 30%; 
    margin-left:35%; 
    font-size: 1.6rem;


}

.heuteData{
    text-align: center;
    padding: 0.3rem;
}
.bilderAll{
    flex: 30%;
    flex-direction: col;
    background-color: rgb(221, 136, 8);
    padding: 0.5rem;

}
.bilderTitle, .formTitle{
    text-align: center;
    font-size: 2em;
}
.bilderItem{
background-color: rgb(221, 136, 8);
display: flex;
flex-direction: row;
justify-content:space-around;
padding: 0.5rem;

}
.formAll{
    background-color: rgb(123, 209, 123);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.formBord{
    width: 50%;
    border: 5px solid forestgreen;   
padding: 0.5rem;
}

form {
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
}
label{
    font-size: 1.2rem;
    font-weight: bold;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(188, 230, 185);

  }
  
  input[type=submit] {
    width: 100%;
    background-color:rgb(221, 136, 8);
    color: rgb(12, 5, 5);
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(207, 221, 8);
  }
  